
<html>
    <head>
        <title>Donor Details</title>
        <link rel="stylesheet" href="/static/css/dashboardstyle.css">
        <title> Dashboard </title>
        <title>Donor Details</title>
       
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        src="jquery.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
        </script>
        </head>
    <body>
        <div class="navigation" id="navbar">
            <nav class="nav">
                <div>
                    <div class="nav-symbol">    
                        <strong href="#" class="nav_logo">Dashboard</strong>
                    </div>
    
                  
                  <div class="nav-list">
                        <a href="/profile" class="nav_link">
                            <ion-icon name="person-outline" class="nav_icon"></ion-icon>
                            <span class="nav_name" >Profile</span>
                  
                        </a>
                        <a href="/" class="nav_link">
                            <ion-icon name="medical" class="nav_icon"></ion-icon>
                            <span class="nav_name" >Donors list</span>
                        </a>
                  </div>
                </div>
    
                <a href="/logout" class="nav_link">
                    <ion-icon name="log-out" class="nav_icon"></ion-icon>
                    <span class="nav_name">Logout</span>
                </a>
            </nav>
        </div>
     

      <div class="card_3">
        <h1 class="profile_h1">Profile</h1>
        <div class="profile">
            <div class="align"> 
                <label><p><b>Name:  </b></p><p><b>{{resp.NAME}}</b></p></label>
            </div>
            <br>
            <div class="align">
                <label><p><b>Blood Group:  </b></p><p><b>{{resp.BLOODGROUP}}</b></p></label>
                
            </div>
            <br>
            <div  class="align"> 
                <label><p><b>Pincode:  </b></p><p><b>{{resp.PINCODE}}</b></p></label>
            </div>
            <br>
            <div  class="align"> 
                <label><p><b>Email: </b></p><p><b>{{resp.EMAIL}}</b></p></label>
            </div>

        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    </body>
</html>
